<div id="sp-nav">
<ul class="list">
  <li>
    <form>
   
  <input type="search" placeholder="Search">
   
</form>
  </li>
  <li class="animate-repeat" ng-repeat="friend in friends | filter:q">
        <a href="#">    {{friend.name}} 
        </a>
          <span class="chevron"></span>
        </li>
   </ul>
   
</ul>

</div>

<div id="sp-page">
 






<header class="bar-title">
  <a class="button-prev" href="" ng-click="$spMenu.toggle()">
    1
  </a>
  <h1 class="title">Title</h1>
  <a class="button-next" href="#/view2">
    2
  </a>
</header>
<div class="content">
    <div ng-init="friends = [
      {name:'John', age:25, gender:'boy'},
      {name:'Jessie', age:30, gender:'girl'},
      {name:'Johanna', age:28, gender:'girl'},
      {name:'Joy', age:15, gender:'girl'},
      {name:'Mary', age:28, gender:'girl'},
      {name:'Peter', age:95, gender:'boy'},
      {name:'Sebastian', age:50, gender:'boy'},
      {name:'Erika', age:27, gender:'girl'},
      {name:'Patrick', age:40, gender:'boy'},

      {name:'a', age:40, gender:'boy'},
      {name:'b', age:40, gender:'boy'},
      {name:'c', age:40, gender:'boy'},
      {name:'d', age:40, gender:'boy'},
      {name:'Samantha', age:60, gender:'girl'}
    ]">
<ul class="list">
  

<li class="animate-repeat" ng-repeat="friend in friends | filter:q">
        <a href="#">    {{friend.name}} 
        </a>
          <span class="chevron"></span>
        </li>
   </ul>

</div>



</div>




<nav class="bar-tab">
  <ul class="tab-inner">
    <li class="tab-item active">
      <a href="#">
        <img class="tab-icon" src="img/icon-home.png">
        <div class="tab-label">Label</div>
      </a>
    </li>
    <li class="tab-item">
      <a href="#">
        <img class="tab-icon" src="img/icon-profile.png">
        <div class="tab-label">Label1</div>
      </a>
    </li>
    <li class="tab-item">
      <a href="#">
        <img class="tab-icon" src="img/icon-messages.png">
        <div class="tab-label">Label2</div>
      </a>
    </li>
    <li class="tab-item">
      <a href="#">
        <img class="tab-icon" src="img/icon-hamburger.png">
        <div class="tab-label">Label3</div>
      </a>
    </li>
    <li class="tab-item">
      <a href="#">
        <img class="tab-icon" src="img/icon-settings.png">
        <div class="tab-label">Label4</div>
      </a>
    </li>
  </ul>
</nav>
</div>